<!DOCTYPE html>
<html>
<head>
	<title>Code Challenge</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" 
          href="vendor/bootstrap-additions/dist/bootstrap-additions.min.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" 
          rel="stylesheet">    
    <link rel="stylesheet" type="text/css" href="vendor/AngularJS-Toaster/toaster.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
         

</head>

<body ng-app="employeeApp" ng-controller="ListController">
    <div class="container" ng-cloak >

     <toaster-container></toaster-container>
      <br/>
      <h3 align="center">Employee Directory</h3><br/><br/>
      <table class="table">
        <thead>
          <tr>
            <td>First Name <span class="mandatory-field">*</span></td>
            <td>Last Name <span class="mandatory-field">*</span></td>
            <td>Email <span class="mandatory-field">*</span></td>
            <td>Age <span class="mandatory-field">*</span></td>
            <td>Gender <span class="mandatory-field">*</span></td>
            <td>Date of birth <span class="mandatory-field">*</span></td>            
          </tr>
        </thead>
        <tbody>
            <tr>
              <form name="employeeForm" novalidate>
              <td>          
              <input type="text" ng-model="employee.first_name" title="Enter your first name" 
                     class="form-control" placeholder="First name" />              
              </td>

              <td>
              <input type="text" ng-model="employee.last_name"  title="Enter your last name" 
                     class="form-control" placeholder="Last name" />
              </td>

              <td>
              <input type="text" class="form-control"  placeholder="Email" ng-model="employee.email" 
                     title="Enter a valid email address"/>
              </td>  

              <td>
              <input type="number" title="Enter age as a whole number" 
                     class="form-control"  placeholder="Age" ng-model="employee.age" />
              </td>

              <td>              
              <select title="Choose your gender" class="form-control gender-input"
		              ng-model="employee.gender" ng-options="g for g in genders" >
		      </select >
              </td>

              <td>
              <input type="text" id="datepicker" class="form-control" placeholder="dd-mm-yyyy"       ng-model="employee.dob" bs-datepicker />
              </td>               
              
              <td>
              <span ng-show="!updating" title="Add new employee" ng-click="add(employee)"
                    class="icon-plus add-icon"></span>
              <span ng-show="updating" title="Update employee" ng-click="update(employee)" 
                    class="icon-edit update-icon"></span>
              </td>
             
              </form>              
            </tr>       

           <tr ng-repeat="emp in employees">
              <td>{{emp.first_name}}</td>
              <td>{{emp.last_name}}</td>
              <td>{{emp.email}}</td>
              <td>{{emp.age}}</td>
              <td>{{emp.gender}}</td>
              <td>{{emp.dob | date:'dd-MM-yyyy'}}</td>
              
              <td id="action">
              <span id="edit-button" title="Update employee" ng-click="edit(emp)" 
                    class="icon-edit"></span>
              <span id="delete-button" title="Delete employee" ng-click="delete(emp)" 
                    class="icon-trash pull-right"></span>
              </td>
            </tr>

        </tbody>
        </table>
    </div>

    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-strap/dist/angular-strap.min.js"></script>
    <script src="vendor/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="vendor/angular-animate/angular-animate.min.js"></script>
    <script src="vendor/AngularJS-Toaster/toaster.min.js"></script>
    <script src="/js/constants.js"></script>
    <script src="/js/services/EmployeeService.js"></script>
    <script src="/js/controllers/ListController.js"></script>
    <script src="/app.js"></script>

</body>
</html>